.block-video {
	background: none scroll repeat 0 0 #ddd;
	top: 143px;
	left: 100px;
	overflow: hidden;
	position: absolute;
	width: 900px;
	height: 480px;
}

.video-able {
	height: 480px;
	overflow: hidden;
	width: 900px;
	position: relative;
}

	.items div.other {
		background-color: #fff;
		height: 480px;
		width: 900px;
		position: relative;
		top: 0px;
	}

	.other > .image {
		float: left;
		overflow: hidden;
		width: 640px;
		height: 480px;
	}

		.other > .image div {
			height: 200px;
		}

	.other > .text {
		float: left;
		overflow: hidden;
		padding: 25px 15px 0 25px;
		width: 220px;
		height: 455px;
		background-color: #fff;
	}

.brow-up-left {
	position: absolute;
	width: 30px;
	height: 20px;
	left: 1008px;
	top: 120px;
}

.brow-down-right {
	position: absolute;
	width: 30px;
	height: 20px;
	left: 1041px;
	top: 120px;
}

a.disabled {
	cursor: default !important;
	opacity: 0.2 !important;
}

a.prev, a.next{
	cursor: pointer;
	height: 20px;
	width: 30px;
	display: block;
	opacity: 0.8;
}

a.prev {
	background: url('../img/up-arrow.png') no-repeat scroll;
}

a.next {
	background: url('../img/down-arrow.png') no-repeat scroll;
}

.block-scrollable {
  background: none scroll repeat 0 0 #ddd;
  top: 143px;
  left: 1005px;
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 480px;
}

.scrollable {
  height: 480px;
  overflow: hidden;
  width: 250px;
  position: relative;
}

.items {
  clear: both;
 /* height: 2000px;*/
	height: auto;
  position: absolute;
  width: 250px;
}

  .items div.scroll {
    background-color: #3e3e3e;
    height: 480px;
    width: 250px;
    position: relative;
    top: 0px;
  }

  .scroll > .text {
    float: left;
    overflow: hidden;
    padding: 25px 15px 0 25px;
    width: 210px;
    height: 94px;
		border-bottom: dotted 1px #444;
		background-color: #fff;
  }

	.scroll > .text:hover {
		background-color: #eee;
		cursor: pointer;
	}

