* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background: none repeat scroll 0 0 #000;
	color: #888;
	/* font-family: Arial, Verdana, Helvetica, Sans-serif; */
	/* font-family: 'Open Sans Condensed', sans-serif; */
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1em;
}

#background {
	left: 0px;
	top: 0px;
	position: fixed;
	overflow: hidden;
	z-index: -9999;
}

#container {
	height: auto;
	min-height: 100%; /* We want this to cover the whole page */
	position: relative;
}

#main-menu {
	position: absolute;
	overflow: hidden;
	top: 50px;
	/* height: 90px; */
	z-index: 100;
	left: 0;
}

ul#menu {
	/* height: 90px; */
	list-style: none outside none;
	width: auto;
}

	ul#menu li {
		float: left;
		/* height: 90px; */
		padding: 0;
	}

		ul#menu li a {
			/* background-color: rgba(100,100,100,0.6); */
			background-color: rgba(3, 104, 142, 0.6);
			display: table-cell; /* This is so we can have the text in the middle */
			height: 80px;
			overflow: hidden;
			width: auto;
			padding: 0 20px;
			text-align: center;
			vertical-align: middle;
		}

			ul#menu li a:hover {
				color: #eee;
			}

		ul#menu li a.active {
			color: #eee;
			cursor: default;
		}

		ul#menu li a img {
			height: 80px;
		}

a {
	color: #999;
	text-decoration: none;
}

#claim {
	overflow: hidden;
	position: absolute;
	top: 160px;
	height: 70px;
	left: 25px;
	width: 400px;
}

	#claim h1 {
		color: #fff;
	}

	#claim h3 {
		color: #ccc;
	}

#footer {
	background-color: rgba(100, 100, 100, 0.4);
	bottom: 0;
	position: absolute;
	height: 25px;
	font-size: 14px;
	width: 100%;
}
