#info {
	background: #333;
	border: 7px solid #444;
	top: 200px;
	left: 127px;
	height: 215px;
	width: 300px;
	position: absolute;
	overflow: hidden;
}

.info-block {
	border-bottom: 1px dotted #555;
	color: #ddd;
	font-size: 0.9em;
	overflow: hidden;
	padding: 5px;
}

#map {
	border: 7px solid #444;
	top: 133px;
	left: 435px;
	height: 400px;
	width: 500px;
	position: absolute;
	overflow: hidden;
}
